# Dependency directories
node_modules

# Compiler Outputs
public/bundle.js
public/bundle.js.map

# Logs
logs
*.log
tmp
npm-debug.log*

# Variables
.env

# User settings
.vscode

# Mac files
.DS_Store
