body {
	font: Roboto Mono;
	background-color: #a5cddd;
}

#App {
	margin-left: 15%;
  margin-right: 15%;
  padding-left: 1%;
  padding-right: 1%;
}

#searchBox {
	font: 14px Roboto monospace;
	width: 650px;
  height: 30px;
  border-radius: 3px;
  border-width: 0.5px;
}
